html {
    background-color: #280004;
    color: #280004;
    margin: 0ß; 
    max-width: 900px;
    margin: auto;
}

.side-nav {
align-items: flex-start;
margin-left: 50px;
background-color: #8b9d83;
padding: 20px;
padding-left: 0px;
padding-bottom: 40px;
padding-right: 40px;
line-height: 30px;
border-radius: 100%;
text-align: center;
border: 5px dotted #243b4a;
box-shadow: 0 0 0 10px #243b4a;
font-family: "maxular", serif;
font-weight: 400;
font-style: normal;
width: 200px;
max-height: 250px;
}

.logo {
    max-width: 800px;
    margin-left: -20px;
    margin-top: -20px;
    background-color: #7699D4;
    padding-left: 50px;
    padding-right: 34px;
    display: block;
    background-position: center top;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;

}
.index-hero {
    max-width: 800px;
    display: block;
    margin: auto;
    padding-bottom: 20px;
    margin-top: 40px;
    
}
.nav-list { 
    list-style-type: none;
}

.body-flex {
    align-items: flex-end;
    width: 600px;
    font-family: "maxular", serif;
    font-weight: 400;
    font-style: normal; 
}
.main-flex {
    margin-top: 50px;
    display: flex;
    flex-direction: row-reverse;

}

.title {
    text-align: center;
    font-size: 32px;
    padding-top: 0px;
    max-width: 900px;
    background-color: #280004;
    color: #DAD2BC;
    padding: 20px;
    margin: -20px;
    border-top: 5px dotted #DAD2BC;
    border-bottom: 5px dotted #DAD2BC;
    font-family: "map-roman-variable", serif;
    font-variation-settings: "wdth" 100;
}

.footer {
    font-family: "maxular", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #8b9d83;
    padding: 20px;
    border: 5px dotted #243b4a;
    box-shadow: 0 0 0 10px #243b4a;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    max-width: 900px;
}

.footer-list {
    list-style-type: none;
}

.footer-column {
    flex: auto;
    padding: 0 15px;
}

.body-copy {
    font-family: "maxular", serif;
    font-weight: 400;
    font-style: bold; 
    
}

.content {
    background-color: #DAD2BC;
    padding: 20px;
    font-family: "maxular", serif;
    font-weight: 400;
    font-style: normal;
}

.small-image {
    max-width: 500px;
    display: block;
    margin: auto;
    padding-bottom: 10px;

}

.container {
    max-width: 900px;
    margin: auto;
    padding-top: 20px;
    
}

.floated {
    float: right;
    max-width: 310px;
    margin-bottom: 0;
    padding-bottom: 0;

}

.body-content-flex {
    display: flex;
}

.content-flex{
    align-items: flex-end;
    max-width: 600px;
    font-family: "maxular", serif;
    font-weight: 400;
    font-style: normal; 
}

.side-image-flex {
    max-width: 300px;
margin-right: 20px;
}

.type-main {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

.type-column {
    flex: auto;
    padding: 0 15px;
}

.map-example {
    font-size: 24px;
    font-family: "map-roman-variable", serif;
    font-variation-settings: "wdth" 100;
    min-width: 400px;
    margin: auto;
}

.maxular-example {
    font-size: 22px;
    min-width: 400px;
    margin: auto;
}

a:visited {
    color: #243b4a;
}

a {
    color: #243b4a;
}

a:hover {
    color: white;
}

.color-palette {
    max-width: 500px;
    margin-right: 20px;
}